html {
  width: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.navSelected {
  text-decoration: underline;
  text-underline-offset: 0.75vmin;
}

nav {
  margin: 0;
  display: flex;
  position: sticky;
  top: 0;
  padding-left: 3vmin;
  padding-right: 3vmin;
  justify-content: space-between;
  align-items: center;
  height: 15vmin;
  background-color: #f2f3f6;
  z-index: 1;
  opacity: 90%;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 3vmin;
}
nav div {
  width: 60vmin;
  display: flex;
  justify-content: space-evenly;
}
nav div a {
  font-size: 3vmin;
  color: black;
  transition: scale 0.2s;
  text-decoration: none;
}
nav div a:hover {
  scale: 1.1;
}

footer {
  min-height: 40vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2E4C6D;
  color: #f2f3f6;
  box-sizing: border-box;
  padding: 3vmin;
}
footer h1 {
  font-size: 5vmin;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
footer div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: brightness(80%);
  transition: filter 0.1s, scale 0.1s;
}
footer div a:hover {
  filter: brightness(100%);
  scale: 1.1;
}
footer div a img {
  width: 15vmin;
  background-color: #f2f3f6;
  border-radius: 2vmin;
  padding: 1vmin;
}
footer div a p {
  font-size: 2.5vmin;
  width: auto;
}
footer div p {
  font-size: 0.75vmin;
}

.buttonLink {
  padding: 2vmin;
  background-color: #2E4C6D;
  text-decoration: none;
  font-size: calc(1vw + 1vh);
  border-radius: 80px;
  font-weight: bold;
  transition: scale 0.25s;
  color: #f2f3f6;
}
.buttonLink:hover {
  scale: 1.1;
}

#home {
  background-image: url("../images/desert.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #2E4C6D;
}
@media screen and (orientation: landscape) {
  #home {
    background-size: 100%;
  }
}
@media screen and (orientation: portrait) {
  #home {
    background-size: 120%;
  }
}
#home section {
  width: 100%;
  display: flex;
}
#home #homeIntro {
  height: 65vmin;
  flex-direction: row;
  padding: 7vmin;
  box-sizing: border-box;
  color: #f2f3f6;
  text-shadow: black 0.25vmin 0.25vmin;
  backdrop-filter: blur(2px);
}
#home #homeIntro div {
  flex-direction: column;
  width: 65%;
}
#home #homeIntro h1 {
  font-size: 8vmin;
}
#home #homeIntro h3 {
  font-size: 4vmin;
}
#home #homeIntro img {
  max-height: 95%;
  max-width: 50%;
  border-radius: 5vmin;
  border: solid 2vmin #36344d;
}
#home #standFor {
  height: 70vmin;
  background-color: #36344d;
  color: #f2f3f6;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 2vmin;
  text-shadow: black 0.25vmin 0.25vmin;
}
#home #standFor div {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
#home #standFor div h1 {
  font-size: 6vmin;
}
#home #standFor div p {
  font-size: 4vmin;
}
#home #standFor div .buttonLink {
  width: 30vmin;
  text-align: center;
  text-shadow: none;
}
#home #news {
  background-color: #36344d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2vmin solid #7977a2;
}
#home #news h1 {
  color: #f2f3f6;
  font-size: 7vmin;
  text-shadow: 0.25vmin 0.25vmin black;
}
#home #news h2 {
  color: #f2f3f6;
  text-shadow: 0.25vmin 0.25vmin black;
  font-size: 4.5vmin;
  margin-top: 0;
}
#home #news a {
  width: 100%;
  text-decoration: none;
  color: #f2f3f6;
  box-sizing: border-box;
  padding: 5vmin;
  border-bottom: 1vmin solid #7977a2;
  border-top: 1vmin solid #7977a2;
}
#home #news a h2 {
  font-size: 4vmin;
  text-shadow: 0.25vmin 0.25vmin black;
}
#home #news a p {
  font-size: 2vmin;
  font-style: italic;
}
@media screen and (orientation: landscape) {
  #home #news a div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #home #news a div p {
    width: 50%;
    font-size: 3vmin;
    font-style: normal;
  }
  #home #news a img {
    max-height: 40vmin;
  }
}
@media screen and (orientation: portrait) {
  #home #news a div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #home #news a div p {
    width: 100%;
    font-size: 3vmin;
    font-style: normal;
  }
  #home #news a img {
    width: 80%;
  }
}

#about {
  background-color: #2E4C6D;
}
#about main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f3f6;
  text-shadow: black 0.25vmin 0.25vmin;
  padding: 0 8vmin;
  box-sizing: border-box;
  background-color: #4B496B;
}
#about main img {
  border: 2vmin solid #36344d;
  border-radius: 500px;
  width: 35vmin;
  margin-top: 5vmin;
}
#about main h1 {
  font-size: 6vmin;
}
#about main p {
  font-size: 3vmin;
  font-style: italic;
  margin-bottom: 0.5vmin;
}
#about main p span {
  font-weight: bold;
}
#about main h2 {
  font-size: 4vmin;
  font-style: italic;
  margin-bottom: 1vmin;
}

#vision {
  background-color: #2E4C6D;
}
#vision main {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #36344d;
}
#vision #visionIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2vmin;
  color: #f2f3f6;
  text-shadow: black 0.25vmin 0.25vmin;
  background-image: url("../images/desert2.jpg");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 65vmin;
  justify-content: center;
}
#vision #visionIntro h1 {
  font-size: 7vmin;
}
#vision #visionIntro h3 {
  font-size: 3vmin;
}
#vision #visionContainer {
  border: 3vmin solid black;
  border-radius: 5vmin;
  width: 85%;
  margin: 2vmin;
}
#vision .visionSection {
  display: flex;
  box-sizing: border-box;
  padding: 5vmin;
  justify-content: space-evenly;
  color: #f2f3f6;
  text-shadow: 0.25vmin 0.25vmin black;
}
#vision .visionSection img {
  width: 15%;
}
#vision .visionSection div {
  width: 70%;
}
#vision .visionSection div h1 {
  font-size: 4vmin;
}
#vision .visionSection div p {
  font-size: 3vmin;
  font-style: italic;
}
#vision .visionSection:nth-of-type(1) {
  background-color: #4B496B;
  border-top-left-radius: 2vmin;
  border-top-right-radius: 2vmin;
}
#vision .visionSection:nth-of-type(2) {
  background-color: #7977a2;
}
#vision .visionSection:nth-of-type(3) {
  background-color: #4B496B;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
}

#support {
  background-color: #2E4C6D;
}
#support main {
  background-color: #36344d;
}
#support section {
  color: #f2f3f6;
}
#support section:nth-of-type(1) {
  min-height: 70vmin;
  display: flex;
  align-items: center;
}
#support section:nth-of-type(1) div {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 3vmin;
  text-shadow: black 0.25vmin 0.25vmin;
}
#support section:nth-of-type(1) div h1 {
  font-size: 7vmin;
}
#support section:nth-of-type(1) div p {
  font-size: 4vmin;
}
#support section:nth-of-type(1) div span {
  font-size: 120%;
  color: #f9d706;
}
#support section:nth-of-type(1) div .buttonLink {
  width: 25vmin;
  text-align: center;
  text-shadow: none;
}
#support section:nth-of-type(1) img {
  width: 20%;
  box-sizing: border-box;
  padding: 2vmin;
  border-radius: 300px;
  background-color: #f2f3f6;
}
#support section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  min-height: 55vmin;
  align-items: center;
  text-shadow: black 0.25vmin 0.25vmin;
  background-color: #4B496B;
}
#support section:nth-of-type(2) h1 {
  font-size: 7.5vmin;
}
#support section:nth-of-type(2) p {
  box-sizing: border-box;
  padding: 0 7vmin;
  font-size: 3.5vmin;
  display: flex;
  flex-direction: column;
}
#support section:nth-of-type(2) p span {
  font-size: 5.5vmin;
  color: #f9d706;
  margin-bottom: 1vmin;
}
#support section:nth-of-type(2) .buttonLink {
  text-shadow: none;
  margin-bottom: 2vmin;
}/*# sourceMappingURL=home.css.map */