$light-background: #f2f3f6;
$dark-blue: #36344d;
$purple: #4B496B;
$light-purple: #7977a2;
$button-color: #2E4C6D;
$light-blue: #00a5ff;
$desert-yellow: #f9d706;
$red: #db0001;
$blue: #344bcb;

html {
    width: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.navSelected {
    text-decoration: underline;
    text-underline-offset: 0.75vmin;
}

nav {
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    padding-left: 3vmin;
    padding-right: 3vmin;
    justify-content: space-between;
    align-items: center;
    height: 15vmin;
    background-color: $light-background;
    z-index: 1;
    opacity: 90%;

    a {
        color: black;
        text-decoration: none;
        font-size: 3vmin;
    }

    div {
        width: 60vmin;
        display: flex;
        justify-content: space-evenly;

        a {
            font-size: 3vmin;
            color: black;
            transition: scale 0.2s;
            &:hover {
                scale: 1.1;
            }
            text-decoration: none;
        }
    }
}

footer {
    min-height: 40vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $button-color;
    color: $light-background;
    box-sizing: border-box;
    padding: 3vmin;

    h1 {
        font-size: 5vmin;
    }

    div {
        display: flex;
        justify-content: space-evenly;
        width: 60%;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            filter: brightness(80%);
            transition: filter 0.1s, scale 0.1s;

            &:hover {
                filter: brightness(100%);
                scale: 1.1;
            }

            img {
                width: 15vmin;
                background-color: $light-background;
                border-radius: 2vmin;
                padding: 1vmin;
            }

            p {
                font-size: 2.5vmin;
                width: auto;
            }
            
        }

        p {
            font-size: 0.75vmin;
        }
    }
}

.buttonLink {
    padding: 2vmin;
    background-color: $button-color;
    text-decoration: none;
    font-size: calc(1vw + 1vh);
    border-radius: 80px;
    font-weight: bold;
    transition: scale 0.25s;
    color: $light-background;
    &:hover {
        scale: 1.1;
    }
}


#home {

    background-image: url("../images/desert.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: $button-color;

    @media screen and (orientation: landscape) {
        background-size: 120%;
    }

    @media screen and (orientation: portrait) {
        background-size: 200%;
    }

    section {
        width: 100%;
        display: flex;
    }

    #homeIntro {
        min-height: 65vmin;
        // background-color: $dark-blue;
        flex-direction: row;
        // justify-content: flex-end;
        padding: 7vmin;
        box-sizing: border-box;
        color: $light-background;
        text-shadow: black 0.25vmin 0.25vmin;
        backdrop-filter: blur(2px);
        
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        div {
            flex-direction: row;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            max-height: 95%;
        }

        h1 {
            font-size: 9vmin;
            margin: 0;
        }

        h3 {
            font-size: 5vmin;
        }

        a {
            width: 25%;
            transition: scale 0.1s;

            &:hover {
                scale: 1.1;
            }

            img {
                width: 100%;
                box-sizing: border-box;
                background-color: white;
                padding: 2vmin;
                border-radius: 35%;
                border: solid 1vmin $dark-blue;
            }
        }
        
        img {
            width: 25%;
            border-radius: 5vmin;
            border: solid 2vmin $dark-blue;
            background-color: transparent;
            padding: 0;
        }

        .buttonLink {
            width: 20vmin;
            align-self: center;
            margin-top: 3vmin;
        }
    }

    #standFor {
        height: 70vmin;
        background-color: $dark-blue;
        color: $light-background;
        justify-content: space-evenly;  
        align-items: center;
        box-sizing: border-box;
        padding: 2vmin;
        text-shadow: black 0.25vmin 0.25vmin;

        div {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;

            h1 {
                font-size: 6vmin;
            }

            p {
                font-size: 4vmin;
            }
            
            .buttonLink {
                width: 30vmin;
                text-align: center;
                text-shadow: none;
            }
        }
    }

    #news {
        background-color: $dark-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2vmin solid $light-purple;

        h1 {
            color: $light-background;
            font-size: 7vmin;
            text-shadow: 0.25vmin 0.25vmin black;
        }

        h2 {
            color: $light-background;
            text-shadow: 0.25vmin 0.25vmin black;
            font-size: 4.5vmin;
            margin-top: 0;
        }

        a {
            width: 100%;
            text-decoration: none;
            color: $light-background;
            box-sizing: border-box;
            padding: 5vmin;
            border-bottom: 1vmin solid $light-purple;
            border-top: 1vmin solid $light-purple;

            h2 {
                font-size: 4vmin;
                text-shadow: 0.25vmin 0.25vmin black;
            }

            p {
                font-size: 2vmin;
                font-style: italic;
            }

            @media screen and (orientation: landscape) {
                div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    p {
                        width: 50%;
                        font-size: 3vmin;
                        font-style: normal;
                    }
                }

                img {
                    max-height: 40vmin;
                }
            }

            @media screen and (orientation: portrait) {
                div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;

                    p {
                        width: 100%;
                        font-size: 3vmin;
                        font-style: normal;
                    }
                }

                img {
                    width: 80%;
                }
            }
        }
    }
}

#about {

    background-color: $button-color;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-background;
        text-shadow: black 0.25vmin 0.25vmin;
        padding: 0 8vmin;
        box-sizing: border-box;
        background-color: $purple;

        img {
            border: 1vmin solid $dark-blue;
            border-radius: 30px;
            width: 80vmin;
            margin-top: 5vmin;
        }

        h1 {
            font-size: 6vmin;
        }

        p {
            font-size: 3vmin;
            font-style: italic;
            margin-bottom: 0.5vmin;

            span {
                font-weight: bold;
            }
        }

        h2 {
            font-size: 4vmin;
            font-style: italic;
            margin-bottom: 1vmin;
        }
    }
}

#vision {

    background-color: $button-color;

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: $dark-blue;
        // padding: 2vmin;
    }

    #visionIntro {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 2vmin;
        color: $light-background;
        text-shadow: black 0.25vmin 0.25vmin;
        background-image: url("../images/desert2.jpg");
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 65vmin;
        justify-content: center;

        h1 {
            font-size: 7vmin;
        }

        h3 {
            font-size: 3vmin;
        }
    }

    #visionContainer {
        border: 3vmin solid black;
        border-radius: 5vmin;
        width: 85%;
        margin: 2vmin;
    }

    .visionSection {
        display: flex;
        box-sizing: border-box;
        padding: 5vmin;
        justify-content: space-evenly;
        color: $light-background;
        text-shadow: 0.25vmin 0.25vmin black;

        img {
            width: 15%;
        }

        div {
            width: 70%;

            h1 {
                font-size: 4vmin;
            }

            p {
                font-size: 3vmin;
                font-style: italic;
            }
        }
    }

    .visionSection:nth-of-type(1) {
        background-color: $purple;
        border-top-left-radius: 2vmin;
        border-top-right-radius: 2vmin;
    }

    .visionSection:nth-of-type(2) {
        background-color: $light-purple;
    }

    .visionSection:nth-of-type(3) {
        background-color: $purple;
        border-bottom-left-radius: 2vmin;
        border-bottom-right-radius: 2vmin;
    }
}

#support {
    background-color: $button-color;

    main {
        background-color: $dark-blue;
    }

    section {
        color: $light-background;
    }

    section:nth-of-type(1) {
        min-height: 70vmin;
        display: flex;
        align-items: center;
        // background-color: black;
        // color: white;

        div {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-sizing: border-box;
            padding: 3vmin;
            text-shadow: black 0.25vmin 0.25vmin;

            h1 {
                font-size: 7vmin;
            }

            p {
                font-size: 4vmin;
            }

            span {
                font-size: 120%;
                color: $desert-yellow;
            }

            .buttonLink {
                width: 25vmin;
                text-align: center;
                text-shadow: none;
            }
        }

        img {
            width: 20%;
            box-sizing: border-box;
            padding: 2vmin;
            border-radius: 300px;
            background-color: $light-background;
        }
    }

    section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        min-height: 55vmin;
        align-items: center;
        text-shadow: black 0.25vmin 0.25vmin;
        background-color: $purple;

        h1 {
            font-size: 7.5vmin;
        }

        p {
            box-sizing: border-box;
            padding: 0 7vmin;
            font-size: 3.5vmin;
            display: flex;
            flex-direction: column;
            // text-align: center;

            span {
                font-size: 5.5vmin;
                // text-shadow: none;
                color: $desert-yellow;
                margin-bottom: 1vmin;
                // text-align: center;
            }
        }

        .buttonLink {
            text-shadow: none;
            margin-bottom: 2vmin;
        }
    }

    section:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100vmin;
            max-width: 75%;
            margin-top: 5vmin;
        }

        h1 {
            font-size: 5vmin;
            text-shadow: 0.25vmin 0.25vmin black;
            text-align: center;
            box-sizing: border-box;
            padding: 0 2vmin;
            width: 100%;
        }

        form {
            box-sizing: border-box;
            width: 85%;
            padding: 4vmin;
            // border-radius: 10%;
            border: 1vmin solid $purple;
            display: flex;
            flex-direction: column;
            background-color: $light-background;
            color: black;
            
            h1 {
                text-shadow: none;
            }

            h2 {
                text-align: center;
                font-size: 3vmin;
            }

            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 3vmin;

                &.hidden {
                    display: none;
                }
            }

            label {
                font-size: 2vmin;
                margin-bottom: 1vmin;
            }

            input {
                width: 50vmin;
                height: 5vmin;
                font-size: 2vmin;
            }

            select {
                width: 50vmin;
                height: 5vmin;
                font-size: 2vmin;
            }

            #resetButton {
                margin-bottom: 3vmin;
                width: 15vmin;
                font-size: 2vmin;
                color: $light-background;
                background-color: $red;
                border: none;
                transition: scale 0.1s;
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }

            #submitButton {
                width: 15vmin;
                font-size: 2vmin;
                color: $light-background;
                background-color: $light-purple;
                border: none;
                cursor: pointer;
                transition: scale 0.1s;
                &:hover {
                    scale: 1.1;
                }
            }

            #submitStatus {
                margin-top: 2vmin;
                font-size: 3vmin;
                box-sizing: border-box;
                padding: 2vmin;
                width: fit-content;
                
                &.hidden {
                    display: none;
                }

                &.submitting {
                    background-color: #6fbcf2AF;
                }

                &.succeeded {
                    background-color: #37ed67AF;
                }

                &.failed {
                    background-color: #db2323AF;
                }
            }

            .daySelection {
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding-left: 10vmin;
                box-sizing: border-box;
                
                label {
                    width: 15vmin;
                    font-size: 3vmin;
                }

                input:nth-of-type(1) {
                    width: 3vmin;
                    margin: 0 2vmin;
                }

                .hidden {
                    display: none;
                }
            }
        }
    }
}

#party {
    background-color: $dark-blue;

    main {
        color: $light-background;
        text-shadow: 0.25vmin 0.25vmin black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        text-align: center;
        font-size: 8vmin;
    }

    h2 {
        text-align: center;
        font-size: 4.5vmin;
    }

    p {
        box-sizing: border-box;
        padding: 0 7vmin;
        font-size: 4vmin;
    }

    .buttonLink {
        text-shadow: none;
    }
}